@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');


#bpMain {
    -fx-background-color: linear-gradient(#574b38,#2c2822);
    }

#hbButtons {
	-fx-background-color: #2c2822;
}

Label {
	-fx-font-family: 'Permanent Marker', cursive;
	-fx-font-size: 17px;
	-fx-text-fill: #fff4da;
}

Button {
	-fx-font-size: 13px;
	-fx-border-color: black;
    -fx-border-width: 2px;
    -fx-border-radius: 7px;
    -fx-background-radius: 10px;
    -fx-focus-color: black;
    -fx-background-color: #6d4e40;
    -fx-text-fill: #fff4da;
}

Button:hover{
	-fx-background-color: #3a2f2a;
}

ListView {
	-fx-focus-color: #fff4da;
	-fx-background-color: transparent;
}

ListView .list-cell:odd {
    -fx-background-color: #6b5f4c;
    -fx-selection-bar:#6d4e40;
    -fx-selection-bar-non-focused: #6d4e40;
    -fx-text-fill: #fff4da;
}

ListView .list-cell:even {
    -fx-background-color: #766c5c;
    -fx-selection-bar:#6d4e40;
    -fx-selection-bar-non-focused: #6d4e40;
    -fx-text-fill: #fff4da;
}

ListView .list-cell:selected:odd,
.list-view .list-cell:selected:even {
    -fx-background-color: #6d4e40;
}

.dialog:header *.header-panel {
    -fx-font-family: 'Permanent Marker', cursive;
    -fx-background-color: #574b38;
    
}

.dialog > *.content.label {
	-fx-font-family: system;
	-fx-font-size: 16px;
	-fx-background-color: #2c2822;
}

.dialog > *.button-bar {
	-fx-background-color: #2c2822;
}

